<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask APP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% endblock head %}
</head>

<body>
    {% block nav %}
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('site.index') }}">
                Site
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('site.about') }}">
                    sobre
                </a>

                
            </div>

        </div>
    </nav>
    {% endblock nav %}

    {% block top %}
    <section class="hero is-light">
        <div class="hero-body">
            <p class="title">
                {{ site_name }}
            </p>
            <p class="subtitle">
                {{ site_subtitle }}
            </p>
        </div>
    </section>
    {% endblock top %}

    {% block main %}
    {% endblock main %}

</body>